body {
	background: url("../img/Sieuthi/poster.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #FFF;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
 input[type="text"], input[type="password"]{
	width: 84%;
	padding: 15px 10px 15px;
	font-size: 14px;
	background: transparent;
	border: 2px solid #537b35;
	outline: none;
	margin-bottom: 26px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}


input[type="submit"]:hover {
    background-color: #fff;
    color: #537b35;
}


.container {
    width: 30%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.aitssendbuttonw3ls p {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.aitssendbuttonw3ls p a {
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #fff;
}

.aitssendbuttonw3ls p a span {
	font-size: 18px;
}

.aitssendbuttonw3ls p a:hover {
	color: #537b35;
    border: 1px solid #537b35;
}

